<div class="container-fluid h-100">
  <div class="row align-cntnt-cntr">
    <div class="col-12 page-title">
      <span class="">{{pageNotFoundTitle}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-3 align-cntnt-cntr">
    </div>
    <div class="col-3 align-cntnt-cntr align-self-cntr">
      <img [src]="pageNotFoundIcon" height="300px" width="300px" />
    </div>
    <div class="col-3 align-cntnt-cntr align-self-cntr">
      <div class="row">
        <div class="col-12 page-sub-title">
          <span>{{pageNotFoundSubTitle}}</span>
        </div>
        <div class="col-12 pt-3">
          <span><a class="hrf-home" href="#">Go To Homepage</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
