.container-fluid
  margin-top 6%

.p-20
  padding-bottom 20px !important

.example-header-image
  background-image url('../../../assets/icons/card_icon_1.jpg')
  background-size cover

.mat-card-header
  padding 8px !important
  align-items center
  color white

.grid-display
  display grid

.contnt
  height 200px
  overflow auto

.fnt-fmly
  font-family Arial, Helvetica, sans-serif

.f-16
  font-size 16px

.bg-blue
  background-color #212c56 !important
