.container-fluid
  margin-top 6%


.self-align-center
  align-self center

.text-align-center
  text-align center

.justify-content-center
  justify-content center

.title-head
  font-family 'Montserrat', sans-serif
  color #212c56
  font-size 26px
  font-weight 700

.table-prop
  width 1200px
  margin 5px auto


.pl-58
  padding-left 58px !important
