.container-fluid
  margin-top 6%

.align-cntnt-cntr
  text-align center

.pre-title
  font-size 32px
  font-weight 700
  color #28a745

.img-title
  font-size 28px
  font-weight 500
  color #212c56

.blink{
	animation: blinkingText 1.8s infinite;
}
@keyframes blinkingText{
	0%{		color: transparent;	}
	49%{	color: #28a745;	}
	50%{	color: #28a745;	}
	99%{	color: #28a745;	}
	100%{	color: transparent;	}
}
